<div>
    <h1>{{ title }}</h1>
    <h1>Danh sách sinh viên</h1>
    <table class="table">
        <tr>
            <th>Họ và tên</th>
            <th>Năm sinh</th>
            <th>Chuyên ngành</th>
        </tr>
        <tr ng-repeat="item in students">
            <td>{{ item.ten}}</td>
            <td>{{ item.namSinh}}</td>
            <td>{{ item.chuyenNganh }}</td>
        </tr>
    </table>

    <h2>Thêm sinh viên</h2>
    <form ng-submit="creatStudent()">
        <label for="" class="form-label">Họ và tên</label>
        <input type="text" class="form-control" ng-model="student.name">

        <label for="" class="form-label">Năm sinh</label>
        <input type="text" class="form-control" ng-model="student.year">

        <label for="" class="form-label">Chuyên ngành</label>
        <input type="text" class="form-control" ng-model="student.course">

        <button class="btn btn-success">Thêm nhân viên</button>
    </form>
   
</div>