<div>
    <h1>{{ title }}</h1>
    <h1>Thông tin nhân viên</h1>
    <form ng-submit="themMoi()">
        <label for="" class="form-label">Họ và tên</label>
        <input type="text" class="form-control" ng-model="inputValue.name">

        <label for="" class="form-label">Địa chỉ</label>
        <input type="text" class="form-control" ng-model="inputValue.address">

        <button class="btn btn-success">Thêm nhân viên</button>
    </form>
    <!-- 
        Tạo 1 form nhập 2 số
        Thực hiện tính tổng của 2 số
     -->
</div>